:root {
    --bg-color: black;
    --text-color: white;
    --text-color-sec: #aaa;
    --border-radius: 4px;
    --border-settings: 1px solid var(--text-color);
    --gap-pr: 60px;
    --gap-sr: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-family: "Proto Mono", sans-serif;
    font-size: 0.9rem;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    gap: var(--gap-pr);
    width: 100vw;
    height: 100vh;
    padding: var(--gap-sr);
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.gap-60 {
    gap: var(--gap-pr);
}

.gap-15 {
    gap: var(--gap-sr);
}

.heading {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

.upper {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--text-color-sec);
}

ul {
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
}

button {
    min-width: var(--gap-pr);
    padding: 0 var(--gap-sr);
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
}

.button-pr {
    min-height: var(--gap-pr);
    width: 100%;
    padding: var(--gap-sr);
}

.highlight {
    border: 2px solid gold;
}

input[type=text] {
    min-height: var(--gap-sr);
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border-settings);
    color: var(--text-color);
    background-color: var(--gap-pr);
    padding: var(--gap-sr);
}

input[type=radio] {
    height: var(--gap-sr);
    width: var(--gap-sr);
}

::placeholder {
    color: var(--text-color-sec);
}

::-ms-input-placeholder {
    color: var(--text-color-sec);
}

#section1 {
    grid-area: 1/1/2/2;
}

.progress-container {
    min-width: var(--gap-pr);
    width: 30%;
    background-color: transparent;
    height: var(--gap-sr);
    border-top: var(--border-settings);
    border-radius: var(--border-radius);
}

.progress-bar {
    width: 0%;
    height: var(--gap-sr);
    background-color: var(--text-color);
    border-radius: var(--border-radius);
    transition: width 0.3s ease;
}

#section2 {
    grid-area: 1/2/2/3;
}

#weather-icon {
    height: var(--gap-pr);
    width: var(--gap-pr);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--gap-sr);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    font-size: 48px;
}

#weather-icon i {
    font-size: 24px;
}

#section3 {
    grid-area: 2/1/3/2;
}

#section4 {
    height: 100%;
    width: 100%;
    align-items: stretch;
    grid-area: 3/1/4/2;
}

#notes {
    flex: 1;
    width: 100%;
    height: 100%;
    border-top: var(--border-settings);
    border-bottom: var(--border-settings);
    padding: var(--gap-sr) 0;
    align-items: start;
}

#note-container {
    height: 100%;
    width: 100%;
}

#note-input {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    resize: none;
}

#todo {
    flex: 1;
    width: 100%;
    height: 100%;
    border-top: var(--border-settings);
    border-bottom: var(--border-settings);
    padding: var(--gap-sr) 0;
}

#todo-container {
    height: 100%;
    width: 100%;
}

#todo-container input {
    display: inline;
    padding: 0;
    width: 100%;
    color: var(--text-color);
    background-color: var(--gap-pr);
    border: none;
}

#todo-list li {
    width: 100%;
    margin-bottom: var(--gap-sr);
    display: grid;
    gap: var(--gap-sr);
    grid-template-columns: 1fr min-content;
    justify-content: flex-start;
    align-items: center;
}

#todo-list li span {
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

#todo-list li.completed {
    text-decoration: line-through;
    color: var(--text-color-sec);
}

#section5 {
    grid-area: 2/2/4/3;
    height: 100%;
    width: 100%;
    min-height: 50vh;
    align-items: stretch;
    border-bottom: var(--border-settings);
    padding-bottom: var(--gap-sr);
}

.link-lists {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 15%);
    gap: var(--gap-sr);
}

.link-lists li {
    width: 100%;
    position: relative;
    z-index: 1;
}

.link-lists li button {
    text-align: right;
    position: absolute;
    right: 0px;
    color: var(--text-color);
    background-color: transparent;
}

#primary-list li {
    min-height: var(--gap-sr);
    border-radius: var(--border-radius);
    border: var(--border-settings);
    color: var(--text-color);
    background-color: var(--gap-pr);
}

#primary-list li a {
    padding: var(--gap-sr);
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modals {
    display: none;
    padding: var(--gap-pr);
    margin: auto;
    width: 50%;
    height: auto;
    background-color: var(--bg-color);
    border: var(--border-settings);
    border-radius: var(--border-radius);
}

.close-btn {
    color: var(--text-color);
    float: right;
    cursor: pointer;
}

#section6 {
    grid-area: 4/1/5/3;
}

#settings {
    flex: 1;
}

#list-buttons {
    flex: 1;
}

#app-info {
    font-size: 14px;
    color: var(--text-color-sec);
}