@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: MSGothic;
    src: url(/MS\ Gothic.ttf);
}

*,
*:before,
*:after {
    /**Add a css reset to the top of your website style sheet, different browsers render some default
     margin and padding and perhaps external style sheets do something you are not aware of too, 
     a css reset will just initialize a fresh palette so to speak**/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-family: "MSGothic", sans-serif;
}

body {
    /*border:2px solid purple;*/
    background-color: #869397;
    color: #eeeeee;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    /*border: 2px solid green;*/
    padding: 10px;
}

.blocks {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}

.block1 {
    grid-area: 2/1/3/2;
}

#day {
    font-size: 2rem;
    position: absolute;
    /*top: 50%;*/
    text-transform: uppercase;
}

.block2 {
    grid-area: 3/1/4/2;
}

.progress-bar {
    margin-bottom: 10px;
}

.bar {
    width: 100%;
    background-color: transparent;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
}

.bar span {
    display: block;
    height: 15px;
    line-height: 15px;
    color: #eeeeee;
    text-align: left;
    padding-left: 10px;
    background-color: #eeeeee;
    width: 0;
    transition: width 0.5s;
    color: #869397;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #eeeeee;
    font-size: 1rem;
    font-weight: 500;
}

.block3 {
    grid-area: 2/3/5/5;
}

.sub-links {
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    padding-left: 0;
    list-style: none;
    /*border: 2px solid black;*/
}

.sub-links>li {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.sub-links>li>a {
    font-size: 0.8rem;
    color: #eeeeee;
    text-decoration: none;
}

.sub-links>li>a:hover {
    color: #B5B8BC;
}

.block4 {
    grid-area: 4/1/5/2;
}

.links>li {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #B5B8BC;
}

.links>li>a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 1rem;
    text-transform: uppercase;
}

.block5{
    grid-area: 2/2/5/3;
    background-color: #B5B8BC;
}